/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
	@font-face {
	font-family: DannaThin;
	src: url(../../@core/assets/fonts/feather/fonts/dana-fanum-thin.ttf);
	}
	@font-face {
	font-family: DannaExtraLight;
	src: url(../../@core/assets/fonts/feather/fonts/dana-fanum-extralight.ttf);
	}
	@font-face {
	font-family: DannaLight;
	src: url(../../@core/assets/fonts/feather/fonts/dana-fanum-light.ttf);
	}
	@font-face {
	font-family: DannaNormal;
	src: url(../../@core/assets/fonts/feather/fonts/dana-fanum-regular.ttf);
	}
	@font-face {
	font-family: DannaMedium;
	src: url(../../@core/assets/fonts/feather/fonts/dana-fanum-medium.ttf);
	}
	@font-face {
	font-family: DannaDemiBold;
	src: url(../../@core/assets/fonts/feather/fonts/dana-fanum-demibold.ttf);
	}
	@font-face {
	font-family: DannaBold;
	src: url(../../@core/assets/fonts/feather/fonts/dana-fanum-bold.ttf);
	}
	@font-face {
	font-family: DannaExtraBold;
	src: url(../../@core/assets/fonts/feather/fonts/dana-fanum-extrabold.ttf);
	}
	@font-face {
	font-family: IranYekan;
	src: url(../../@core/assets/fonts/feather/fonts/iranyekanwebbold.ttf);
	}

.containerStatistics{
	width: 50.5%;
	padding: 10px;
	height: 200px;
}

.containerUsersList{
	width: 48%;
	height: 200px;
	overflow: scroll;
}

.containerHome{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.containerCourseList{
	width: 48%;
	overflow: scroll;
	height: 400px;
}

.containerAppliedComments{
	width: 23%;
}

.containerCourseStatusChart{
	width: 50.5%;
	height: 400px;
	overflow: scroll;
}

.DannaN{
	font-family: DannaNormal !important;
}

.DannaM{
	font-family: DannaMedium !important;
}

.DannaB{
	font-family: DannaBold !important;
}

.w75px{
	width: 75px;
}

.roleAvatar{
	width: 42px;
	height: 42px;
	border-radius: 100% !important;
	background: gray;
	margin-right: 10px;
}

.roleListItem{
	margin-top: 10px;
}

.imgCourseListD{
	width: 32px;
	height: 30px;
	border-radius: 0 !important;
}

.activeD{
	width: auto;
	padding: 5px 10px 5px 10px;
	overflow: hidden;
	color: white;
	font-family: DannaMedium !important;
	border-radius: 16px;
	background: rgb(86, 255, 86);
	display: flex;
	justify-content: center;
	align-items: center;
}
.notActive{
	width: auto;
	padding: 5px 10px 5px 10px;
	white-space: nowrap;
	overflow: hidden;
	color: white;
	font-family: DannaMedium !important;
	border-radius: 16px;
	background: rgb(255, 65, 65);
	display: flex;
	justify-content: center;
	align-items: center;
}

.titleD{
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	width: 100px;
	margin-left: 10px;
}

.category{
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.justifyCenter{
	justify-content: center;
}

.loader{
	display: flex;
	justify-content: center;
	width: 100%;
}

.addNewGroupContainer{
	width: 100%;
	margin-bottom: 10px;
}

.addNewGroup{
	padding: 10px;
	font-family: DannaMedium;
}

.roWrap{
	display: flex;
	flex-flow: row wrap;

}

.w100{
	width: 100px;
}

.overflowH{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100px;
}
.overflowH2{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 200px;
}

.isDelete{
	width: 30px;
	height: 30px;
	background: url(https://img.icons8.com/?size=100&id=7690&format=png&color=ff0000) no-repeat 50% 50%;
	border-radius: 100%;
	background-size: 80%;
}

.ms{
	margin-left: 10px;
}

.w50{
	width: 49%;
	display: flex;
	justify-content: center;
	font-family: DannaBold;
	flex-flow: row wrap;
	gap: 10px;
}

.tab-content > .active {
	display: flex !important;
	justify-content: space-between;
}

.red{
	color: red;
}

.green{
	color: green;
}

.justifyRight{
	justify-content: left;
	display: flex;
}

.imageDetail{
	width: 300px;
	height: 200px;
}

.rtl{
	direction: ltr;
	text-align: left;
}

.marginR{
	margin-left: 20px;
}

.userImageDetail{
	border-radius: 100% !important;
	width: 200px;
	height: 200px;
}

.userRoles{
	display: flex;
	flex-flow: row wrap;
	margin: 10px 0 10px 0;
	gap: 10px;
	justify-content: center;
}

.socialContainer{
	display: flex;
	width: 100%;
	justify-content: left;
	flex-flow: row wrap;
	gap: 10px;
}

.socialHolder{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.telegram{
	background: url("https://img.icons8.com/?size=50&id=oWiuH0jFiU0R&format=png&color=000000") no-repeat 50% 50%;
	background-size: cover;
	width: 6%;
	height: 50px;
}

.linkedin{
	background: url("https://img.icons8.com/?size=50&id=114445&format=png&color=000000") no-repeat 50% 50%;
	background-size: cover;
	width: 6%;
	height: 50px;
}

.socialText{
	width: 8%;
	margin-left: 10px;
}

option{
	font-family: DannaBold !important;
}

.addImage{
	border-radius: 8px;
	border: 1px solid black;
	margin: 10px 0 10px 0;
}

.sortWrapper{
	width: 100%;
	display: flex;
	justify-content: left;
	gap: 30px;
	flex-flow: row wrap;
	margin-bottom: 10px;
}

.activeCourses{
	width: 150px;
	height: 50px;
	background: white;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	display: flex;
	font-family: DannaMedium;
	color: green;
	border: 1px solid green;
	cursor: pointer;
}

.activeCourses:active{
	scale: 1.1;
}

.deActiveCourses{
	width: 150px;
	height: 50px;
	background: white;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	display: flex;
	font-family: DannaMedium;
	color: red;
	border: 1px solid red;
	cursor: pointer;
}

.deActiveCourses:active{
	scale: 1.1;
}

.addRoleContainer{
	display: flex;
	flex-flow: row wrap;
	gap: 50px;
}

.blogListDCV{
	width: 20px !important;
}

.blogListDC{
	width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.pageination{
	margin-top: 5rem;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
	font-size: 1.2rem;
	gap: 5px;
	direction: rtl;
}

.page-num{
	padding: 8px 15px;
	cursor: pointer;
	border-radius: 100%;
	font-family: DannaMedium;
}

.page-num:hover{
	background-color: #5AB1BB;
	color: #fff;
}

.containerComment{
	padding: 20px;
	display: flex;
	width: 100%;
	margin: 5px;
	border: 2px solid #5AB1BB;
	box-shadow: 1px 1px 10px #5AB1BB;
	flex-flow: row wrap;
}

.containerMainComment{
	padding: 20px;
	display: flex;
	width: 100%;
	margin: 5px;
	border: 2px solid #00e5ff;
	flex-flow: row wrap;
	box-shadow: 1px 1px 10px rgb(13, 215, 255);
}

.repliesTitle{
	font-family: DannaMedium;
	font-size: 17px;	
	padding: 10px 10px 10px 10px;
}

.titleComment{
	font-family: DannaMedium;
	font-size: 15px;
	width: 100%;
}

.commmentProfAndUsername{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.profileComment{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: 1px solid black;
}

.addReply{
	width: 100px;
	height: 40px;
	font-family: DannaMedium;
	color: white;
	justify-content: center;
	display: flex;
	align-items: center;
	border: 16px;
	border-radius: 32px;
	cursor: pointer;
	background: #357cff;
	background-size: 10px;
}

.addReply:active{
	scale: 1.1;
}

.username{
	text-align: center;
	width: 100%;
	font-size: 13px;
	font-family: DannaMedium;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.titleAndDesc{
	justify-content: space-between;
	margin-left: 10px;
	display: flex;
	flex-flow: column wrap;
}

.descComment{
	font-size: 12px;
	font-family: DannaMedium;
}