form{
    direction: rtl;
    width: 100%;
}
.navigate{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: 100%;
}
.navigateRegister > div{
    width: 30.629%;
}
.textNavigate{
    font-size: 16px;
    line-height: 22.88px;
    text-align: right;
    color: #2f2f2f86;
}
.HomePageButton{
    border-radius: 34px;
    display: flex;
    gap: 8px;
    border: 1px solid #DCDCDC;
    padding: 8px 16px;
}
input{
    background-color: #fff;
    border: 1px solid #DCDCDC;
    width: 100%;
    height: 48px !important;
    border-radius: 24px;
    padding-right: 12px !important;
    color: #3d3d3d !important;
}
form>div:not(form>div:first-child),form > a{
    max-width: 384px;
}
.inputPassword{
    background: url(https://img.icons8.com/?size=100&id=85028&format=png&color=707070) no-repeat 3% 50%;
    background-size: 24px;
}
form > div:nth-child(5) > div > input{
    background-color: rgb(255, 255, 255);
    height: 16px !important;
    border: 1px solid #ccc;
    appearance: none;
}
form > div:nth-child(5) > div > input:checked{
    appearance: auto;
}
form > div:nth-child(5) > div{
    direction: ltr;
}
.selectedNavigate{
    color: #000000;
}
.lastNavigate{
    background-color: #3772FF !important;
    opacity: 0.5 !important;
    border-radius: 9px;
    height: 8px;
    width: 100%;
}

@media screen and (max-width:600px){
    .page2{
        display: none;
    }
    form > div,form > a{
        max-width: 100% !important;
    }
    .HomePageButton{
        display: none;
    }
    .navigate{
        flex-wrap: wrap;
        width: 100%;
        gap: 15px;
    }
    .navigate > div{
        width: 100%;
    }
}